<div id="<%= dom_id oenologist_wine %>">
  <p>
    <strong>Oenologist:</strong>
    <%= oenologist_wine.oenologist_name %>
  </p>

  <p>
    <strong>Wine:</strong>
    <%= oenologist_wine.wine_name %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= oenologist_wine.rate %>
  </p>

</div>
