<h1>Editing oenologist wine</h1>

<%= render "form", oenologist_wine: @oenologist_wine %>

<br>

<div>
  <%= link_to "Show this oenologist wine", @oenologist_wine %> |
  <%= link_to "Back to oenologist wines", oenologist_wines_path %>
</div>
