<div id="<%= dom_id magazine_oenologist %>">
  <p>
    <strong>Magazine:</strong>
    <%= magazine_oenologist.magazine_name %>
  </p>

  <p>
    <strong>Oenologist:</strong>
    <%= magazine_oenologist.oenologist_name %>
  </p>

  <p>
    <strong>Job Title:</strong>
    <%= magazine_oenologist.title %>
  </p>


</div>
