<h1>Editing magazine oenologist</h1>

<%= render "form", magazine_oenologist: @magazine_oenologist %>

<br>

<div>
  <%= link_to "Show this magazine oenologist", @magazine_oenologist %> |
  <%= link_to "Back to magazine oenologists", magazine_oenologists_path %>
</div>
