<%= render @magazine_oenologist %>

<div>
  <%= link_to "Edit this magazine oenologist", edit_magazine_oenologist_path(@magazine_oenologist) %> |
  <%= link_to "Back to magazine oenologists", magazine_oenologists_path %>

  <%= button_to "Destroy this magazine oenologist", @magazine_oenologist, method: :delete %>
</div>
